

<h1>New book</h1>

<% if book.errors.any? %>
  <%= book.errors.count %>件のエラーが発生しました
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>



  <%= form_with model: book do |f| %>

    <div>Title</div>
      <%= f.text_field :title %>
    <div>Opinion</div>
      <%= f.text_area :body %>

<div class="actions">
  <%= f.submit 'Create Book',class:"btn btn-success",style:"margin:5px 0" %>
    </div>



  <% end %>